<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv =»Cache-Control» content =»no-cache»/>
    <title>Conectados</title>
    <link rel="stylesheet" href="{{css}}">
</head>
<body>
    <div class="hero">
        <header class="header contenedor">
            <div class="logo">
                <img src="{{logoConectados}}">
            </div>
            <nav class="navegacion">   
                 <a href="mis_actividades">Mis actividades</a> 
                 <a href="nueva_actividad">Nueva actividad</a>  
                 <a href="cuenta">Cuenta</a>  
            </nav>
        </header>
        <div class="contenido-hero contenedor">
            <h1>Encuentra las mejores experiencias en linea</h1>
            <form action="#"> 
                <!--Cambiar el nombre de las categorias-->
                <select type="text" name="busqueda" class="busqueda" placeholder="Buscar etiqueta de la actividad">
                    <option selected="">Escoger una categoria...</option>
                    <option value="1">Categoria 1</option>
                    <option value="2">Categoria 2</option>
                    <option value="3">Categoria 3</option>
                    <option value="4">Categoria 4</option>
                    <option value="4">Todas las categorias</option>
                </select>
                <!---->
                <input type="submit" value="buscar">
            </form>
        </div>
    </div>

    <main class="contenido contenedor">
        <section class="hacer">
            <h2>Experiencias</h2>
            <div class="contenedor-cards">
                <!-- for del diccionario que tenga toda la info de cada evento.-->
                <div class="card">
                    <img src="{{img1}}">
                    <div class="info">
                        <p class="categoria">concierto</p>
                        <p class="titulo">Actividad 1</p>
                        <p class="precio">Q1,200 por persona</p>
                        <!-- HAY QUE HACER UN FORM QUE ENVIE LA INFO DEL EVENTO que se manda el id del evento-->
                    </div>
                </div>
                <!-- se termina el for-->
                <div class="card">
                    <img src="{{img2}}">
                    <div class="info">
                        <p class="categoria">streaming</p>
                        <p class="titulo">Actividad 2</p>
                        <p class="precio">Q300 por persona</p>
                    </div>
                </div>
                <div class="card">
                    <img src="{{img3}}">
                    <div class="info">
                        <p class="categoria">Cafe</p>
                        <p class="titulo">Actividad 3</p>
                        <p class="precio">Q400 por persona</p>
                    </div>
                </div>
                <div class="card">
                    <img src="{{img4}}">
                    <div class="info">
                        <p class="categoria">Viajes</p>
                        <p class="titulo">Actividad 4</p>
                        <p class="precio">Q500 por persona</p>
                    </div>
                </div>
                <div class="card">
                    <img src="{{img1}}">
                    <div class="info">
                        <p class="categoria">Carreras</p>
                        <p class="titulo">Actividad 5</p>
                        <p class="precio">Q1,200 por persona</p>
                    </div>
                </div>
                <div class="card">
                    <img src="{{img2}}">
                    <div class="info">
                        <p class="categoria">Realidad Virtual</p>
                        <p class="titulo">Actividad 6</p>
                        <p class="precio">Q300 por persona</p>
                    </div>
                </div>
                <div class="card">
                    <img src="{{img3}}">
                    <div class="info">
                        <p class="categoria">Programacion</p>
                        <p class="titulo">Actividad 7</p>
                        <p class="precio">Q400 por persona</p>
                    </div>
                </div>
                <div class="card">
                    <img src="{{img4}}">
                    <div class="info">
                        <p class="categoria">Tecnologia</p>
                        <p class="titulo">Actividad 8</p>
                        <p class="precio">Q500 por persona</p>
                    </div>
                </div>
                <div class="card">
                    <img src="{{img1}}">
                    <div class="info">
                        <p class="categoria">Videojuegos</p>
                        <p class="titulo">Actividad 9</p>
                        <p class="precio">Q1,200 por persona</p>
                    </div>
                </div>
                <div class="card">
                    <img src="{{img2}}">
                    <div class="info">
                        <p class="categoria">Coina</p>
                        <p class="titulo">Actividad 10</p>
                        <p class="precio">Q300 por persona</p>
                    </div>
                </div>
                <div class="card">
                    <img src="{{img3}}">
                    <div class="info">
                        <p class="categoria">Museo</p>
                        <p class="titulo">Actividad 11</p>
                        <p class="precio">Q400 por persona</p>
                    </div>
                </div>
                <div class="card">
                    <img src="{{img4}}">
                    <div class="info">
                        <p class="categoria">Concierto</p>
                        <p class="titulo">Actividad 12</p>
                        <p class="precio">Q500 por persona</p>
                    </div>
                </div>
            </div><!-- este div se queda-->
        </section>
    </main>
    <footer class="footer">
        <div class="contenedor-cards contenedor">
            <div class="nav-footer">
                <h3>Conectados.com</h3>
            </div>
        </div>
    </footer>

</body>
</html>