<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv =»Cache-Control» content =»no-cache»/>
    <title>Conectados</title>
    <link rel="stylesheet" href="{{css}}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

</head>
<body>
    <nav>
        <input type="checkbox" id= "check">
        <label for="check" class="checkbtn">
            <li class="fas fa-bars"></li>
        </label>

        <img src="{{logo}}" class="logo">
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="mis_actividades">Mis actividades</a></li>
            <li><a href="nueva_actividad">Nueva actividad</a></li>
            <li><a href="cuenta">Cuenta</a></li>
        </ul>
    </nav>

    <main class="contenido contenedor">
        <section class="hacer">
            <div class="nuevo">
                <h2>Mis actividades</h2>
                <button type="button" class="btn-nuevo" onclick="window.location = 'nueva_actividad';">Nueva actividad</button>
                <!-- ESTE BUTTON TENDRIA QUE MANDAR A NUEVA_ACTIVIDAD PARA CREAR UN EVENTO-->
            </div>
            <div class="contenedor-cards">
                <!--FOR DE MOSTRAR TODOS LOS EVENTOS CREADOS DEL USUARIO-->
                <div class="card">
                    <img src="{{img1}}">
                    <div class="info">
                        <p class="categoria">concierto</p>
                        <p class="titulo">Actividad 1</p>
                        <p class="precio">Q1,200 por persona</p>
                    </div>
                </div>
                <div class="card">
                    <img src="{{img2}}">
                    <div class="info">
                        <p class="categoria">streaming</p>
                        <p class="titulo">Actividad 2</p>
                        <p class="precio">Q300 por persona</p>
                    </div>
                </div>
                <div class="card">
                    <img src="{{img3}}">
                    <div class="info">
                        <p class="categoria">Cafe</p>
                        <p class="titulo">Actividad 3</p>
                        <p class="precio">Q400 por persona</p>
                    </div>
                </div>
                <div class="card">
                    <img src="{{img4}}">
                    <div class="info">
                        <p class="categoria">Viajes</p>
                        <p class="titulo">Actividad 4</p>
                        <p class="precio">Q500 por persona</p>
                    </div>
                </div>
                <div class="card">
                    <img src="{{img1}}">
                    <div class="info">
                        <p class="categoria">Carreras</p>
                        <p class="titulo">Actividad 5</p>
                        <p class="precio">Q1,200 por persona</p>
                    </div>
                </div>
                <div class="card">
                    <img src="{{img2}}">
                    <div class="info">
                        <p class="categoria">Realidad Virtual</p>
                        <p class="titulo">Actividad 6</p>
                        <p class="precio">Q300 por persona</p>
                    </div>
                </div>
                <div class="card">
                    <img src="{{img3}}">
                    <div class="info">
                        <p class="categoria">Programacion</p>
                        <p class="titulo">Actividad 7</p>
                        <p class="precio">Q400 por persona</p>
                    </div>
                </div>
                <div class="card">
                    <img src="{{img4}}">
                    <div class="info">
                        <p class="categoria">Tecnologia</p>
                        <p class="titulo">Actividad 8</p>
                        <p class="precio">Q500 por persona</p>
                    </div>
                </div>
                <div class="card">
                    <img src="{{img1}}">
                    <div class="info">
                        <p class="categoria">Videojuegos</p>
                        <p class="titulo">Actividad 9</p>
                        <p class="precio">Q1,200 por persona</p>
                    </div>
                </div>
                <div class="card">
                    <img src="{{img2}}">
                    <div class="info">
                        <p class="categoria">Coina</p>
                        <p class="titulo">Actividad 10</p>
                        <p class="precio">Q300 por persona</p>
                    </div>
                </div>
                <div class="card">
                    <img src="{{img3}}">
                    <div class="info">
                        <p class="categoria">Museo</p>
                        <p class="titulo">Actividad 11</p>
                        <p class="precio">Q400 por persona</p>
                    </div>
                </div>
                <div class="card">
                    <img src="{{img4}}">
                    <div class="info">
                        <p class="categoria">Concierto</p>
                        <p class="titulo">Actividad 12</p>
                        <p class="precio">Q500 por persona</p>
                    </div>
                </div>
            </div><!--se mantiene este div-->
        </section>

    
        <section class="hacer">
            <h2>Actividades futuras</h2>
            <div class="contenedor-cards">
                <!--FOR DEL DIC CON EVENTOS REGISTRADOS-->
                <div class="card_futuras">
                    <img src="{{img1}}">
                    <div class="info">
                        <p class="categoria">Fecha de la actividad: 18/10/2021</p>
                        <p class="titulo">Actividad 1</p>
                        <form action="#">
                            <input type="submit" class="btn-eliminar">
                        </form>
                    </div>
                </div>
                <div class="card_futuras">
                    <img src="{{img2}}">
                    <div class="info">
                        <p class="categoria">Fecha de la actividad: 19/10/2021</p>
                        <p class="titulo">Actividad 2</p>
                        <form action="#">
                            <input type="submit" class="btn-eliminar">
                        </form>
                    </div>
                </div>
                <div class="card_futuras">
                    <img src="{{img3}}">
                    <div class="info">
                        <p class="categoria">Fecha de la actividad: 20/10/2021</p>
                        <p class="titulo">Actividad 3</p>
                        <form action="#">
                            <input type="submit" class="btn-eliminar">
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="footer">
        <div class="contenedor-cards contenedor">
            <div class="nav-footer">
                <h3>Conectados.com</h3>
            </div>
        </div>
    </footer>

</body>
</html>