<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="preload" href="{{normalizacioncss}}" as="style">
    <link rel="stylesheet" href="{{normalizacioncss}}">
    <link rel="preload" href="{{css}}" as="style">
    <link rel="stylesheet" href="{{css}}">
</head>
<body>
    <!--Navegacion-->
    <nav>
        <input type="checkbox" id= "check">
        <label for="check" class="checkbtn">
            <li class="fas fa-bars"></li>
        </label>

        <img src="{{logo}}" class="logo">
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="mis_actividades">Mis actividades</a></li>
            <li><a href="nueva_actividad">Nueva actividad</a></li>
            <li><a href="cuenta">Cuenta</a></li>
        </ul>
    </nav>
     <!--Navegacion-->
    <main id="main">
        <div class="cont sombra">
            <form class="formulario" method="POST" action="" enctype=multipart/form-data>
                <div class="principal">
                    <h2>Agregar Actividad</h2>
                    <div class="formulario-grupo fila1">
                        <label for="nombre">Nombre de la actividad</label>
                        <input id="nombre" name="nombre" class="nombre" type="text" required>
                    </div>
                    <div class="formulario-grupo fila2">
                        <label for="descripcion">Descripcion de la actividad</label>
                        <textarea class="descripcion" name = "descripcion" rows="3" required="" id="descripcion"></textarea>
                    </div>
                    <div class="formulario-grupo fila3">
                        <label for="categoria">Categoria de la actividad</label>
                        <select class="categoria" name="categoria" id="categoria">
                            <option selected="">Select category</option>
                            <option value="1">Categoria 1</option>
                            <option value="2">Categoria 2</option>
                            <option value="3">Categoria 3</option>
                        </select>
                    </div>

                    <div class="formulario-row fila4">
                        <div class="formulario-grupo row1">
                            <label for="fecha">Fecha de la actividad</label>
                            <input id="fecha" name="fecha" class="fecha" type="datetime-local" required>
                        </div>
                        <div class="formulario-grupo row2">
                            <label for="precio">Precio</label>
                            <input id="precio" name = "precio" class="precio" type="text" required>
                        </div>
                    </div>

                <div class="contenedor-imagenes">
                    <div class="profile-pic-div1">
                        <img id="photo1">
                        <input type=file name=file1 id="file1">
                        <label for="file1" name="file1" id="uploadbtn1">Foto de portada de Actividad:</label>
                    </div>
                    <div class="profile-pic-div2">
                        <img id="photo2">
                        <input type=file name=file2 id="file2">
                        <label for="file2" name="file2" id="uploadbtn2">Foto 2 de Actividad:</label>
                    </div>
                    <div class="profile-pic-div3">
                        <img id="photo3">
                        <input type=file name=file3 id="file3">
                        <label for="file3" name="file3" id="uploadbtn3">Foto 3 de Actividad:</label>
                    </div>
                    <div class="profile-pic-div4">
                        <img id="photo4">
                        <input type=file name=file4 id="file4">
                        <label for="file4" name="file4" id="uploadbtn4">Foto 4 de Actividad:</label>
                    </div>
                </div>

                    <input type="submit" value="Enviar" id="enviar">
                 </div>
            </form>
        </div>
    </main>
</footer>
<script src="{{scriptNuevaActividad}}"></script>
</body>
</html>